/projet/nbproject/
/projet/build.xml
/projet/manifest.mf
/TP1Reseau/nbproject/private/
TP1Reseau/build.xml
TP1Reseau/manifest.mf
TP1Reseau/nbproject/build-impl.xml
TP1Reseau/nbproject/genfiles.properties
TP1Reseau/nbproject/project.properties
TP1Reseau/nbproject/project.xml
/projet/dist/
/projet/build/
/TPJAVA/nbproject/private/
/TPJAVA/build/